
  <!-- <div class="text-xl font-bold">Kerim Can Portfolio</div>
  <nav>
    <a routerLink="/" class="mr-4 hover:underline">Anasayfa</a>
    <a routerLink="/about" class="mr-4 hover:underline">Hakkımda</a>
   <a routerLink="/projects" class="hover:underline px-3">Projeler</a>
    <a routerLink="/contact" class="hover:underline">İletişim</a>
  </nav> -->

 <!-- <header>
  <nav class="bg-teal-800 shadow-lg p-4 text-gray-100 flex justify-between items-center">
    <div class="text-xl font-bold">Kerim Can Portfolio</div>
    <div>
      <a routerLink="/" class="px-3 hover:text-teal-300">Anasayfa</a>
      <a routerLink="/projects" class="px-3 hover:text-teal-300">Projeler</a>
      <a routerLink="/contact" class="px-3 hover:text-teal-300">İletişim</a>
    </div>
  </nav>
</header> -->
<!-- <header class="fixed w-full bg-slate-900 shadow-lg text-gray-100 z-50">
  <div class="max-w-7xl mx-auto flex justify-between items-center p-4">
    <div class="text-2xl font-bold text-teal-400">Kerim Can</div>
    <nav class="space-x-4">
      <a routerLink="/" class="hover:text-teal-300">Anasayfa</a>
      <a routerLink="/projects" class="hover:text-teal-300">Projeler</a>
      <a routerLink="/contact" class="hover:text-teal-300">İletişim</a>
    </nav>
  </div>
</header> -->


<header class="fixed w-full bg-slate-900 shadow-lg text-gray-100 z-50">
  <div class="max-w-7xl mx-auto flex justify-between items-center p-4">
    <div class="text-2xl font-bold text-teal-400">Kerim Can</div>
    <nav class="space-x-4">
      <a href="#about" class="hover:text-teal-300 transition">Hakkımda</a>
      <a href="#projects" class="hover:text-teal-300 transition">Projeler</a>
      <a href="#contact" class="hover:text-teal-300 transition">İletişim</a>
    </nav>
  </div>
</header>



