@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";


 * {
  transition: all 0.3s ease-in-out;
}

body {
  @apply bg-slate-900 text-gray-200 font-sans;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
