<section
  id="contact"
  class="relative min-h-screen bg-backgroundLight dark:bg-backgroundDark text-textLight dark:text-textDark flex items-center justify-center px-4 py-12"
>
  <div
    class="relative bg-white dark:bg-gray-800 rounded-xl shadow-xl overflow-hidden flex flex-col md:flex-row max-w-5xl w-full transition-colors duration-500 border border-gray-200 dark:border-gray-700"
  >
    <!-- Sol: Büyük Resim -->
    <div class="md:w-1/2 h-64 md:h-auto">
      <img
        src="assets/amasra.jpeg"
        alt="Kerim Can"
        class="w-full h-full object-cover object-center"
      />
    </div>

    <!-- Sağ: Form -->
    <div
      class="md:w-1/2 p-10 flex flex-col justify-center rounded-xl min-h-[600px]"
    >
      <h2
        class="text-4xl font-bold mb-6 text-gray-700 dark:text-gray-300 opacity-80"
      >
        Contact Me
      </h2>

      <form
        (ngSubmit)="sendMessage()"
        class="flex flex-col gap-6 text-gray-600 dark:text-gray-400"
      >
        <input
          type="text"
          placeholder="Your Name"
          [(ngModel)]="userName"
          name="userName"
          class="input-style input-soft"
          required
        />
        <input
          type="email"
          placeholder="Email Address"
          [(ngModel)]="email"
          name="email"
          class="input-style input-soft"
          required
        />
        <textarea
          placeholder="Your Message"
          [(ngModel)]="message"
          name="message"
          rows="6"
          class="input-style input-soft"
          required
        ></textarea>

        <button type="submit" class="bg-accentLight dark:bg-accentDark
                 text-textSecondary dark:text-gray-300
                 hover:bg-accentDark dark:hover:bg-accentLight
                 hover:text-textLight dark:hover:text-textLight
                 px-6 py-3 rounded-xl font-semibold transition-colors duration-300">Send Message</button>
      </form>
    </div>
  </div>
</section>
