@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}


/* .input-style {
  @apply p-3 rounded bg-backgroundLight dark:bg-backgroundDark
         text-textLight dark:text-textDark
         border border-gray-300 dark:border-gray-600
         placeholder-gray-500 dark:placeholder-gray-400
         outline-none focus:ring-2 focus:ring-accentDark dark:focus:ring-accentLight
         transition;
}

.btn-style {
  @apply bg-textLight dark:bg-textDark
         hover:bg-textDark dark:hover:bg-textLight
         text-backgroundLight dark:text-backgroundDark
         px-6 py-3 rounded-xl font-semibold transition-colors duration-300;
} */


